.palm-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.palm-container img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


@media (max-width: 768px) {
  .palm-container {
    height: 50%;
  }

  .palm-container img {
    width: 200%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .palm-container {
    height: 30%;
  }

  .palm-container img {
    width: 400%;
    height: auto;
    position: relative;
    top: -50px;
    right: 160px;
  }
}